
#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#tabs li {
    float: left;
    margin: 0;
}
li a {
    position: relative;
    background:#bfbfbf;
    padding: 10px 50px;
    float: left;
    text-decoration: none;
    color: white;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}

 .current a{
    outline: 0;
    background: #00ace6;
     z-index: 4;
}
.hoverItem a{
    background: #7fd5f2;
}
#content {
    background: #fff;
    padding: 50px;
    height: 1000px;
    position: relative;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}
.item{
    display: none;

}

.show{
    display: block;
}